.App {
	text-align: center;
	display:flex;
	justify-content:center;
	color: #2D3B33;
}
.package{
	border-style:solid;
	border-radius:10px;
	background-color: #ADE0C5;
	border-color: #C0FADB;
	width:60%;
	padding:10px;
}
.testBar{
	border-style:solid;
	background-color: #ADE0C5;
	border-color: #C0FADB;
	/*padding:10px;*/
	border-left:0px;
	border-right:0px;
	padding-top:10px;
	padding-bottom:10px;
	display: flex;
	cursor:pointer;
	/*justify-content: space-evenly;*/
}
.testBar:hover{
	background-color: #8FBAA3;
}
.testHeader{
	border-style: solid;
	border-color: #ADE0C5;
	background-color: #C0FADB;
	border-left: 0px;
	border-right: 0px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
}
.centerBar{
	justify-content:center;
}
.nameHeader{
	font-size:30px;
}
.testItem{
	width:33%;
}
.versionHeader{
	font-size:8px;
	padding:10px;
	padding-top:0px;
}
.packageList{
	width:100%;
}
.argInput{
	border: 0px;
	background-color: #C0FADB;
}
.codeView{
	margin: 0px;
	border: 0px;
	background: none;
	white-space: pre-wrap;
	word-break: keep-all;
	overflow-wrap: break-word;
	resize: none;
	overflow: hidden;
	width:500px;
	height:300px;
	border-color: #C0FADB;
	-webkit-font-smoothing: antialiased;
	/*-webkit-text-fill-color: transparent;*/
	padding: 10px;

}
.downloadBtn{
	text-decoration:none;
	color: #2D3B33;
	border-style:solid;
	border-radius:5px;
	border-color: #8FBAA3;
	padding:3px;
	cursor:pointer;
}
.buildStatus{
	padding-bottom:10px;

}
.downloadBtn:hover{
	background-color: #8FBAA3;
}
.menuItem{
	color:#2d3b33;
	background-color:#ade0c5;
	text-decoration: none;
	padding:10px;
}
.menuItem:hover{
	background-color:#c0fadb;
	cursor:pointer;

}
.menuBar{
	display: flex;
	justify-content: space-evenly;
	background-color: #ade0c5;
	position:fixed;
}
.chillAnchor{
	text-decoration:none;
	color:inherit;
}
div{
	width:100%;
}
